body {
    margin: 0px;
    padding: 0px;
    background-image: url('../img/bank.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
}


.para {
    color: rgb(221, 216, 216);
    margin-top: 50px;
    font-style: italic;
}

.home_transferMoney {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .para {
        margin-top: 20px;
        font-size: 11px;
    }
}

@media only screen and (max-width: 992px) {
    .home_transferMoney {
        display: block !important;
    }
}