.button {
    background-color: #f7f0f0;
    border: solid;
    color: rgb(8, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px 1px;
    border-radius: 5px;
}

.button:hover {
    background-color: #000000;
    color: #4d504e;
}

.button:active {
    background-color: #060a0a;
}

h2 {
    text-align: center;
    margin-top: 15px;
}

.form-control {
    color: black;
}

.form-control.hover {
    color: black;
}

h2 {
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

th,
td {
    font-size: 20px;
}

label {
    font-family: opensans;
    font-weight: bold;
    color: #c42222;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {

    th,
    td {
        font-size: 12px;
    }
}